.confirmation__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    padding: 2rem 1rem;
    text-align: center;
}

.confirmation__title span {
    display: block;
}

.confirmation__subtitle {
    color: #ccc;
    margin-bottom: 2rem;
}

.confirmation__summary {
    border: 2px solid #d3b36a;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 2rem;
}

.summary__item {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 0;
    border-bottom: 1px solid #333;
}

.summary__item:last-child {
    border-bottom: none;
}

.summary__item-icon {
    width: 75px;
    height: 75px;
}

.summary__item span {
    font-size: x-large;
}

#confirm-actions {
    margin-top: auto;
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
}

#confirm-actions .button--back {
    background: var(--grey);
    flex: 1;
    max-width: 90%;
}

#confirm-actions .button--confirm {
    flex: 4;
}

@media (max-width: 480px) {
    main {
        display:flex;
        flex-direction: column;
        flex: 1;
    }

}