body {
    margin: 0;
    padding: 0;
    background-color: #0D111A;
    font-family: 'Georgia', serif;
    color: white;
    text-align: center;
}

a {
    text-decoration: none;
}

.header {
    padding: 1rem;
    background-color: #0D111A;
    color: white;
}

.header__nav-placeholder {

}

.frequence-page__intro {
    max-width: 100%;
}

.frequence-page__title {
    font-size: 3rem;
    padding: 0 1rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.frequence-page__subtitle {
    font-size: 1.5rem;
    color: #D0D0D0;
    margin: 0 0 1.5rem;
    padding: 0 4rem;
}

.frequence-page__breadcrumbs {
    margin-bottom: 1rem;
}

.frequence-page__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.frequence-card {
    margin: 0.3rem auto;
    max-width: 90%;
    width: 100%;
}

.frequence-card__content {
    background-color: #131A24;
    border: 1px solid #3E3E3E;
    border-radius: 12px;
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: box-shadow 0.3s, border-color 0.3s;
}


.frequence-card__content.selected {
    border-color: var(--gold);
    box-shadow: 0 0 0 2px var(--gold);
}

.frequence-card__image {
    width: 90px;
    height: 90px;
    margin-left: 0.5rem;
}

.frequence-card__title {
    font-size: 1.5rem;
    color: white;
    margin: 0;
    text-align: left;
}

.frequence-card__description {
    color: #B5B5B5;
    font-size: 1.25rem;
    text-align: left;
    margin-top: 0.25rem;
}

.confirmation-actions .button--back {
    background: var(--grey);
    flex: 1;
    margin-right: 0.5rem;
    max-width: 90%;
    padding: 1rem;
}

.confirmation-actions .button--confirm {
    flex: 4;
}


.confirmation-actions {
    margin-top: auto;
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    margin-left: 5%;
}
