body {
    margin: 0;
    padding: 0;
    background-color: #0D111A; /* Mørk blåsort baggrund */
    font-family: 'Georgia', serif;
    color: white;
    text-align: center;
}

header {
    padding: 1rem;
    background-color: #0D111A;
    color: white;
}

h1 {
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

p {
    font-size: 1.5rem;
    color: #D0D0D0;
    margin: 0 0rem 1.5rem;
}


.frequence-card {
    margin: 1rem auto;
    max-width: 90%;
}

a {
    text-decoration: none;
}

.page-intro-text {
    max-width: 100%;

}
#page-intro-h1 {
    font-size: 3rem;
    padding-right: 1rem;
    padding-left: 1rem;
}
#page-intro-p {
    padding-left: 4rem;
    padding-right: 4rem;
}

.frequence {
    background-color: #131A24;
    border: 1px solid #3E3E3E;
    border-radius: 12px;
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    box-shadow: 0 0 0 2px transparent;
    transition: box-shadow 0.3s, border-color 0.3s;

}

.frequence:hover {
    border-color: #D6B46A;
    box-shadow: 0 0 0 2px #D6B46A;
}

.frequence img {
    width: 90px;
    height: 90px;
    margin-left: 0.5rem;
}

.frequence h1 {
    font-size: 1.5rem;
    color: white;
    margin: 0;
    text-align: left;
}

.frequence p {
    color: #B5B5B5;
    font-size: 1.25rem;
    text-align: left;
    margin-top: 0.25rem;
}

.button {
    padding: 1rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.button--back {
    background: #ccc;
    color: black;
    flex: 1;
    margin-right: 0.5rem;
    max-width: 90%;

}

.button--confirm {
    background: #d3b36a;
    color: black;
    flex: 3;
}
.confirmation__actions {
    margin-top: auto;
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    margin-left: 5%;
}

