.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #0c111b;
}

.main {
    padding: 1rem;
    text-align: center;
}

.main__title {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
}

.main__description {
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.stepper {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.stepper__step {
    color: #d1ac42;
    border-bottom: 2px solid #d1ac42;
    padding-bottom: 0.2rem;
}

.stepper__step--active {
    border-color: #fff;
}

.product-config {
    display: grid;
    grid-template-areas:
    "options preview sizes"
    "colors  colors  colors";
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-content: center;
}

.product-config__options {
    grid-area: options;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.product-config__preview {
    grid-area: preview;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-config__preview-img {
    width: 15.5rem;
    height: 21.5rem;
    object-fit: contain;
    border-radius: 0.5rem;
}

.product-config__sizes {
    grid-area: sizes;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.product-config__colors {
    grid-area: colors;
    display: flex;
    justify-content: right;
    gap: 0.4rem;
    flex-wrap: wrap;
    margin-top: 0.3rem;
    margin-bottom: 0.5rem;
}

.product-config__option-box {
    width: 6rem;
    height: 7rem;
    border: 1px solid #fff;
    border-radius: 0.3rem;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    box-sizing: border-box;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.product-config__option-box-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: inherit;
}

.product-config__option-box--selected {
    border: 1px solid #d1ac42;
}

.product-config__circle-btn {
    border: 0.07rem solid white;
    border-radius: 60%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 0.77rem;
    cursor: pointer;
}

.product-config__circle-btn--active {
    background-color: var(--gold);
    color: #0c111b;
}

.next-step {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.next-step__btn {
    width: 100%;
}

@media (min-width: 572px) {
    .product-config__colors {
        grid-area: colors;
        display: flex;
        justify-content: center;
        gap: 0.4rem;
        padding-left: 3rem;
        flex-wrap: wrap;
        margin-top: 0.3rem;
        margin-bottom: 0.5rem;
    }
}

@media (max-width: 480px) {
    main {
        display:flex;
        flex-direction: column;
        flex: 1;
    }
    .next-step {
        margin-top: auto;
    }
}
