.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #0c111b;
}

.main {
    padding: 1rem;
    text-align: center;
}

.main__title {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
}

.main__description {
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.stepper {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.stepper__step {
    color: #d1ac42;
    border-bottom: 2px solid #d1ac42;
    padding-bottom: 0.2rem;
}

.stepper__step--active {
    border-color: #fff;
}

.product-config {
    display: grid;
    grid-template-areas:
    "options preview sizes"
    "colors  colors  colors";
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-content: center;
}

.product-config__options {
    grid-area: options;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.product-config__preview {
    grid-area: preview;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.product-config__preview-img {
    width: 15.5rem;
    height: 21.5rem;
    object-fit: contain;
    border-radius: 0.5rem;
}

.product-config__sizes {
    grid-area: sizes;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.product-config__colors {

    grid-area: colors;
    display: flex;
    justify-content: right;
    gap: 0.4rem;
    flex-wrap: wrap;
    margin-top: 0.3rem;
    margin-bottom: 0.5rem;
}

.product-config__option-box {
    width: 6rem;
    height: 7rem;
    border: 1px solid #fff;
    border-radius: 0.3rem;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    box-sizing: border-box;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.product-config__option-box-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: inherit;
}

.product-config__option-box--selected {
    border: 1px solid #d1ac42;
}

.product-config__circle-btn {
    border: 0.07rem solid white;
    border-radius: 60%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 0.77rem;
    cursor: pointer;
}

.product-config__circle-btn--active {
    background-color: var(--gold);
    color: #0c111b;
}

.next-step {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.next-step__btn {
    width: 100%;
}

@media (min-width: 572px) {
    .product-config__colors {
        grid-area: colors;
        display: flex;
        justify-content: center;
        gap: 0.4rem;
        padding-left: 3rem;
        flex-wrap: wrap;
        margin-top: 0.3rem;
        margin-bottom: 0.5rem;
    }
}

.preview-container {
    position: relative;
    display: inline-block;
}

.infoToolTip {
    position: absolute;
    bottom: 1.3rem;
    right: 0.0rem;
    width: 2.7rem;
    height: 2.7rem;
    cursor: pointer;
}

.infoToolTipModule {
    width: 22rem;
    height: 20rem;
    background-color: var(--blue);
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
    overflow: hidden;
}

.infoToolTipModule__close-btn {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.infoToolTipModule__close-btn svg {
    width: 1.5rem;
    height: 1.5rem;
}

.infoToolTipModule__content {
    height: calc(100% - 2.5rem);
    overflow-y: auto;
}

.infoToolTipModule__size-guide-table {
    width: 100%;
    border-collapse: collapse;
}

.infoToolTipModule__size-guide-table th,
.infoToolTipModule__size-guide-table td {
    padding: 0.4rem;
    border-bottom: 1px solid #444;
    text-align: left;
}

.infoToolTipModule__aTag  {
    font-size: 1.2rem;
    font-weight: bold;
}

.infoToolTipModule__content::-webkit-scrollbar {
    width: 6px;
}

.infoToolTipModule__content::-webkit-scrollbar-track {
    background: transparent;
}

.infoToolTipModule__content::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
}

.infoToolTipModule__content {
    scrollbar-width: thin;
    scrollbar-color: rgba(255,255,255,0.2) transparent;
}
