html, body {
    display: flex;
    flex-direction: column;
}

.newsletter-signup__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
    padding: 2rem 1rem;
    text-align: center;
}

.newsletter-signup__title {
    font-size: 8.0rem;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    line-height: 1.2;
    color: var(--white);
    margin-bottom: 1rem;
    text-align: center;
}

.newsletter-signup__text {
    font-size: 3.125rem;
    line-height: 1.6;
    color: var(--white);
    text-align: center;
    max-width: 40ch;
    margin: 0 auto 2rem;
}

.newsletter-signup__input {
    width: 100%;
    height: 10rem;
    padding: 2rem;
    border: 5px solid var(--gold);
    border-radius: 1rem;
    background-color: transparent;
    color: var(--white);
    font-size: 4rem;
    font-family: 'Playfair Display', serif;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-sizing: border-box;

}

.newsletter-signup__input::placeholder {
    color: #aaa;
    font-size: 4rem;
}

.newsletter-signup__actions {
    margin-top: auto;
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.button--confirm {
    background: #d3b36a;
    color: var(--white);
    flex: 3;
    margin-top: 3rem;
    font-size: 3.5rem;
    border-radius: 2rem;
}

.newsletter-signup__modal {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: var(--blue);
    padding: 3rem 2rem;
    border-radius: 1.5rem;
    border: 1px solid var(--white);
    max-width: 600px;
    width: 90%;
    text-align: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.newsletter-signup__modal-close-btn {
    position: absolute;
    top: -20px;
    right: -50px;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #888;
    cursor: pointer;
}

.newsletter-signup__modal-close-btn:hover {
    background: none;
}

.input--error {
    border: 3px solid red !important;
    animation: shake 0.3s ease;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-8px);
    }
    50% {
        transform: translateX(8px);
    }
    75% {
        transform: translateX(-8px);
    }
    100% {
        transform: translateX(0);
    }
}

@media (min-width: 1024px) {
    .newsletter-signup__content {
        display: flex;
        flex-direction: row;
        flex: 1;
        max-width: 80%;
        width: 100%;
        margin: 0 auto;
        padding: 2rem 1rem;
        text-align: center;
        gap: 15%;
    }

    .newsletter-signup__title {
        font-size: 5rem;
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        line-height: 1.2;
        color: var(--white);
        margin-bottom: 1rem;
        text-align: center;
    }

    .newsletter-signup__text {
        font-size: 1.5rem;
        line-height: 1.6;
        color: var(--white);
        text-align: center;
        max-width: 40ch;
        margin: 0 auto 2rem;
    }

    .newsletter-signup__input {
        width: 100%;
        height: 5rem;
        padding: 2rem;
        border: 2px solid var(--gold);
        border-radius: 1rem;
        background-color: transparent;
        color: var(--white);
        font-family: 'Playfair Display', serif;
        margin-top: 1rem;
        margin-bottom: 1rem;
        box-sizing: border-box;
        font-size: 1rem;
    }

    .newsletter-signup__input::placeholder {
        color: #aaa;
        font-size: 1.5rem;
    }

    #input-feedback {
        height: 10rem;
        vertical-align: top;
        overflow: hidden;
    }

    .newsletter-signup__actions {
        margin-top: auto;
        display: flex;
        gap: 0.5rem;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 50%;
    }

    .button--confirm {
        background: #d3b36a;
        color: var(--white);
        margin-top: 1rem;
        font-size: 1.5rem;
        border-radius: 1rem;
        width: 100%;
        flex: none;
        transition: 1s;
    }

    .button--confirm:hover {
        background: white;
        color: black;
    }

}
